/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family:"Roboto Slab" ;
    src: url("assets/fonts/static/RobotoSlab-Regular.ttf") format("truetype");
}
h1{
    font-family: "Roboto Slab";
}